* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
img {
  vertical-align: middle;
}
body {
  padding: 0.45rem 0;
  height: 100vh;
  background-color: #ffffff;
}
input {
  font-size: 0.14rem;
}
#main {
  height: 100%;
  position: relative;
}
#header {
  width: 100vw;
  background-color: #006699;
  display: flex;
  /* 给父元素设置padding把内容往中间挤  2边如果有图标 使用定位 左边定位在左边 右边定位在右边 */
  padding-left: 0.45rem;
  padding-right: 0.45rem;
  height: 0.45rem;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
#header h4 {
  width: 2.85rem;
  text-align: center;
  line-height: 0.45rem;
  margin: 0;
  font-weight: normal;
}
#header a {
  position: absolute;
  right: 0;
  top: 0;
  width: 0.45rem;
  height: 0.45rem;
  line-height: 0.45rem;
  text-align: center;
  color: white;
}
#header .fa-arrow-left {
  left: 0;
}
#header form {
  padding-top: 0.05rem;
  width: 100%;
}
#header form input {
  text-align: left;
  background-color: #fff;
}
#footer {
  width: 100vw;
  height: 0.45rem;
  background-color: #006699;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 998;
}
#footer ul {
  display: flex;
}
#footer ul li {
  width: 25vw;
}
#footer ul li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 0.085rem;
}
#footer ul li a span {
  display: block;
}
.form-search {
  display: flex;
  padding: 0.1rem;
}
.form-search .input-search {
  flex: 1;
  height: 0.3rem;
  background-color: #fff;
  border: 1px solid #006699;
  text-align: left;
  font-size: 0.14rem;
  margin-bottom: 0;
  border-radius: 0.06rem 0 0 0.06rem;
}
.form-search .btn-search {
  width: 0.6rem;
  height: 0.3rem;
  background-color: #006699;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-radius: 0 0.06rem 0.06rem 0;
}
.product-list ul {
  display: flex;
  flex-wrap: wrap;
}
.product-list ul li {
  width: 50%;
}
.product-list ul li .product {
  margin-top: 0.1rem;
  margin-left: 0.1rem;
  background-color: #fff;
  box-shadow: 0px 0px 2px #ccc;
  text-align: center;
  display: block;
  overflow: hidden;
}
.product-list ul li .product .product-img {
  width: 100%;
}
.product-list ul li .product .product-name {
  color: #a4a4a8;
}
.product-list ul li .product .product-price span {
  color: red;
}
.product-list ul li .product .product-price span del {
  color: #ccc;
}
body {
  background-color: #efeff4;
}
#main .btn-get-vcode {
  width: 1rem;
  position: absolute;
  right: 0;
  height: 100%;
}
#main .mui-input-row {
  font-size: .14rem;
}
#main .mui-button-row {
  padding: 0.05rem;
}
#main .mui-btn-primary.btn-register {
  width: 100%;
}
