@import "bess.less";

// 商品列表的样式
#main {
  background-color: #fff;
  .product-list {
    .title {
      background-color: #ccc;
      ul {
        display: flex;
        li {
          flex: 1;
          &.active {
            a {
              color: red;
            }
          }
          a {
            display: block;
            color: #666;
            font-size: 0.12rem;
            text-align: center;
            line-height: 0.3rem;
            /* 限制只显示2行文字超出隐藏 */
            /* 改成弹性伸缩盒子模型 */
            display: -webkit-box;
            /* 伸缩盒子方向 垂直方向 */
            -webkit-box-orient: vertical;
            /* 设置文字显示的行数 */
            -webkit-line-clamp: 2;
            /* 超出部分隐藏 */
            overflow: hidden;
            /* 文本超出后显示... */
            text-overflow: ellipsis;
          }
        }
      }
    }
    .ul-list {
      
        li {
          a {
            .product-name {
              /* 限制只显示2行文字超出隐藏 */
              /* 改成弹性伸缩盒子模型 */
              display: -webkit-box;
              /* 伸缩盒子方向 垂直方向 */
              -webkit-box-orient: vertical;
              /* 设置文字显示的行数 */
              -webkit-line-clamp: 3;
              /* 超出部分隐藏 */
              overflow: hidden;
              /* 文本超出后显示... */
              text-overflow: ellipsis;
            }
          }
        }
      }
    }
  
}
